{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'security' %}
{% set page_title = 'Security' %}

{% block content %}
  <p>
    On this page you add or delete the item of the whitelist and blacklist.
  </p>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add new whitelist</h3>
    </div>
    <div class="panel-body">
      <form method="POST" class="form-inline">
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
          <label for="add">URL</label>
          <input type="text" class="form-control" name="add">
        </div>
        <div class="form-group">
          <label for="methodology">Authority</label>
          <input type="text" class="form-control" name="methodology" value="whitelist">
          <input type="submit" class="btn btn-default" value="Add">
        </div>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">whitelisting</h3>
    </div>
    <div class="panel-body">
      <form
        method="POST"
        action="{{ request.route_url('admin.security') }}">
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>URL</th>
                <th>TYPE</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for user in whitelist %}
                <tr>
                  <td>
                    {{ user.name }}
                  </td>
                  <td>
                    {{ user.URL }}
                  </td>
                  <td>
                    {{ user.type }}
                  </td>
                  <td>
                    <button type="submit" class="btn btn-link btn-sm"
                            name="remove" value="{{ user }}">
                      Remove
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add new blacklist</h3>
    </div>
    <div class="panel-body">
      <form method="POST" class="form-inline">
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
          <label for="add">Category</label>
          <input type="text" class="form-control" name="add">
        </div>
        <div class="form-group">
          <label for="methodology">Authority</label>
          <input type="text" class="form-control" name="methodology" value="blacklist">
          <input type="submit" class="btn btn-default" value="Add">
        </div>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Blacklisting</h3>
    </div>
    <div class="panel-body">
      <form
        method="POST"
        action="{{ request.route_url('admin.security') }}">
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>TYPE</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for user in blacklist %}
                <tr>
                  <td>
                    {{ user.name }}
                  </td>
                  <td>
                    {{ user.Category }}
                  </td>
                  <td>
                    {{ user.type }}
                  </td>
                  <td>
                    <button type="submit" class="btn btn-link btn-sm"
                            name="remove" value="{{ user }}">
                      Remove
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </form>
    </div>
  </div>
{% endblock %}
