{% extends "h:templates/layouts/admin.html.jinja2" %}

{% set page_id = 'organisation_event_create' %}
{% set page_title = 'Create organization event' %}

{% block content %}
  {{ form }}
{% endblock %}
