{% extends "h:templates/layouts/kmass-account_user_event.html.jinja2" %}

{% set page_route = 'account_user_event' %}
{% set page_title = 'User Event' %}

{% block page_content %}
  <div class="js-kmass">
    <div class="header">
    <form action="/account/user-event" method="post">
      <label> page size
        <select class="pageSize" name="pageSize" data-ref="pageSizeSelect">
          {% for item in page_size_option %}
            {% if query and query.page_size == item %}
              <option value={{ item }} selected>{{ item }}</option>
            {% else %}
              <option value={{ item }}>{{ item }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </label>

      <label> sortby
        <select class="sortby" name="sortby" data-ref="sortbySelect">
          {% for field in values %}
            {% if query and query.sortby == field[0] %}
              <option value={{ field[0] }} selected>{{ field[1] }}</option>
            {% else %}
              <option value={{ field[0] }}>{{ field[1] }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </label>

      <label> order
        <select class="order" name="order" data-ref="orderSelect">
          {% for item in order_option %}
            {% if query and query.order == item %}
              <option value={{ item }} selected>{{ item|upper }}</option>
            {% else %}
              <option value={{ item }}>{{ item|upper }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </label>

      <label for="page" style="visibility: hidden;">Current Page
        <input type="number" id="page" name="page" value={{ query.page }} readonly/>
      </label>
        <a data-ref="linkAnchor" href={{ query.link }} style="visibility: hidden;"> <input type="button" value="Display"/></a>
      <hr>

      <label for="pages">Export Pages:</label>
      <input type="number" id="pages" name="pages" data-ref="pagesInput" min="1" value={{ query.pages }}>
      <input type="submit" data-ref="exportSubmit" value="Export" />
    </form>
    </div>
    <div class="search-results" style="margin-top: 25px">

    {% include "h:templates/includes/kmass-paginator.html.jinja2" %}

      <table class="search-results__list">
        <thead style="color: #fff;background-color: #333;">
          <tr>
            {% for field in table_head %}
            <th>
              {{ field }}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for table_row in table_results %}
            <tr>
              {% for key in table_row %}
                {% if table_row['id'] % 2 == 0 %}
                  <td class="kmass-tooltip">{{ max_display(table_row[key], 50) }}
                  <span class="kmass-tooltiptext">{{ table_row[key] }}</span></td>
                {% else %}
                  <td style="background: #e5e7eb" class="kmass-tooltip">{{ max_display(table_row[key], 50) }}
                  <span class="kmass-tooltiptext">{{ table_row[key] }}</span></td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "h:templates/includes/kmass-paginator.html.jinja2" %}
    </div>
  </div>
{% endblock page_content %}
