{% extends "h:templates/layouts/kmass-account2.html.jinja2" %}

{% set page_route = 'account_user_event' %}
{% set page_title = 'User Event' %}

{% block page_content %}
  <div class="search-results" style="margin-top: 25px">

    <div class="search-results__total">
      <label for="pet-select">Page size:</label>
      <select name="pets" id="pet-select">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
    </div>

    <div class="search-results__total">
    <label for="pet-select">Sort by Timestamp:</label>

    <select name="pets" id="pet-select">
      <option value="desc">Desc</option>
      <option value="asc">Asc</option>
    </select>
    </div>

    <table class="search-results__list" style="border: 1px solid #333;">
      <thead style="color: #fff;background-color: #333;">
        <tr>
          {% for field in table_head %}
          <th>
            {{ field }}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for table_row in table_results %}
          <tr>
            <td style="border: 1px solid #333;">{{ table_row.pk }}</td>
            <td style="border: 1px solid #333;">{{ table_row.userid }}</td>
            <td style="border: 1px solid #333;">{{ table_row.event_type }}</td>
            <td style="border: 1px solid #333;">{{ table_row.timestamp }}</td>
            <td style="border: 1px solid #333;">{{ table_row.tag_name }}</td>
            <td style="border: 1px solid #333;">{{ table_row.text_content }}</td>
            <td style="border: 1px solid #333;">{{ table_row.base_url }}</td>
            <td style="border: 1px solid #333;">{{ table_row.ip_address }}</td>
            <td style="border: 1px solid #333;">{{ table_row.interaction_context }}</td>
            <td style="border: 1px solid #333;">{{ table_row.event_source }}</td>
            <td style="border: 1px solid #333;">{{ table_row.x_path }}</td>
            <td style="border: 1px solid #333;">{{ table_row.doc_id }}</td>
            <td style="border: 1px solid #333;">{{ table_row.system_time }}</td>
            <td style="border: 1px solid #333;">{{ table_row.region }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if page.max > 1 %}
      {% include "h:templates/includes/paginator.html.jinja2" %}
    {% endif %}
  </div>
{% endblock page_content %}
